.object-key {
  color: #4e9590;
}

.value {
  color: #000000;

  &.bracket {
    color: #f2cab8;
  }
}

.row {
  white-space: nowrap;
  font-size: 16px;
}

.line {
  background-color: #bfbfbf;
  position: absolute;
  width: 1px;
  height: 100%;
}

.array-index {
  color: #bfbfbf;
}
